.navbar-collapse {
  @media (min-width: 768px) {
    flex-grow: 0;
  }
}
.navbar {
  h1 {
    line-height: 35px;
  }
  li:not(:nth-last-child(1)) {
    a:hover {
      border-radius: 50rem;
      background: $secondary;
    }
  }
}
.focus {
  border-radius: 50rem;
  color: $black !important;
  background: $white;
}
.footer {
  li {
    a:hover {
      border-radius: 50rem;
      background: $secondary;
    }
  }
}
